{
    "authorization": "dlp-xxxx",
    "sandbox": {
        "/operacoes": "sandbox_operacoes.json"
    },
    "endpoint": {
        "/operacoes": "https://users.dlombelloplanilhas.com/operacoes"
    }
}
